---
layout: default
home: true
card: true
donate: true
blog: false
newsletter: true
lang: en
title: Croatian Society for Open System and Internet
title_tagline: open systems for a digital society
description: 
---
<div class="start-banner">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="start-headline">Open systems<br/>for a digital society</h1>
			</div>
		</div>
	</div>
</div>

<div class="container start-opener">
	<div class="row padded-row">
		<div class="col-md-12">
			<p class="intro">Croatian Society for Open System and Internet is civil society organisation which promote  ... za primjenu novih informatičkih tehnologija u području otvorenih računarskih sustava, otvoreno znanje, otvorene podatke i uključenost zainteresirane javnosti.</p>
			<p class="intro">Naučite više o <a href="/organisation/">organizaciji</a>, našim <a href="/mission/">ciljevima</a>, i našim <a href="/projects/">projektima</a>.</p>
		</div>
		{% assign projects = site.projects %}
		{% for project in projects %}
		{% capture langcontent %}{{ project[site.lang].stats }}{% endcapture %}
		{% if langcontent != '' %}
		<div class="col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-5 col-md-3 col-md-offset-0">
			<div class="showcase">
				<a href="{{ site.baseurl }}{{project.url}}"><img src="{{ site.staticurl }}images/{{project.img_square}}" alt="{{project.title | xml_escape}}" class="img-circle"/></a>
				<h4 class="kpi">{{ langcontent }}</h4>
				<p class="detail">
					{% capture teasercontent %}{{ project[site.lang].teaser }}{% endcapture %}
					{{ teasercontent }}
				</p>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</div>

{% if page.donate %} <!-- if page donate property is set to 'true' then show on index page -->
<div class="dark-section">
	<div class="container padded-row">
		<div class="row">
			<div class="col-md-12">
				<h2>Donacije</h2>
				<p>Hrvatska udruga za otvorene sustave i internet je nezavisna, nepristrana i neprofitna organizacija. Na svim našim projektima rade volonteri. 
                                   Stoga pozdravljamo svaku donaciju jer će i najmanja donacija pružiti podršku i infrastrukturu za dobre ljude koji volontiraju kod nas. Također primamo donacije kao podršku nekom specifičnom projektu.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 col-xs-12">
				<p><a href="{{ site.baseurl }}/donate/" class="highlight-link">Radite odličan posao i želim podržati Otvorene sustave!</a></p>
				<p><a href="{{ site.baseurl }}/mission/" class="highlight-link">Želim čuti malo više o tome što radite.</a></p>
			</div>
		</div>
	</div>
</div>
{% endif %}

{% if page.blog %} <!-- if page blog property is set to 'true' then show on index page -->
<div class="container padded-row">
	<div class="row">
		<div class="col-md-12">
			<h2>Vijesti iz našeg bloga</h2>
		</div>
	</div>
	<div class="row row-flex row-flex-wrap">
		{% assign relatedArray = '' | split:':' %}
		{% for post in site.posts limit: 4 %}
		{% assign relatedArray = relatedArray | push: post %}
		{% endfor %}
		{% include post_previews.html posts=relatedArray %}
	</div>
</div>
{% endif %}

{% if page.newsletter %} <!-- if page newsletter property is set to 'true' then show on index page -->
<div id="newsletter" class="dark-section darker">
	<div class="container padded-row">
		<div class="row">
			<div class="col-md-12">
				<h2>Newsletter</h2>
				<p>Želite li primati obavijesti o našim aktivnostima? Prijavite se na naš newsletter:</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 col-xs-12 padded-top">
				<form action="//okfn.us5.list-manage.com/subscribe/post?u=929f1e07936386d34833e20d1&amp;id=4ed2decd59" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="text-center mc-form" target="_blank">
					<div class="input-group">
						<input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="E-Mail" required>
				  	<span class="input-group-btn">
						<button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">Pošalji</button>
						<span style="position: absolute; left: -5000px;">
							<input type="text" name="b_929f1e07936386d34833e20d1_bb63fcab72" value="">
							<!-- set to newsletter only-->
							<input type="checkbox" value="1" checked="checked" name="group[16985][1]" id="mce-group[16985]-16985-0" style="display:none;">
						</span>
				  	</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endif %}
