<header class="fixed">
	<a class="header-logo" href="{{site.baseurl}}/">
		<div class="header-logo-img">
			<img class="logo" src="{{ site.staticurl }}images/logo_white.png" alt="{{site.brand_short}}" />
		</div>
		<span class="header-brand-full">{{site.brand_full}}</span>
		<span class="header-brand-small">{{site.brand_short}}</span>
	</a>
	<nav class="header-nav nav-items">
		<ul>
			<li{% if page.menu_topics %} class="active"{% endif %}><a class="nav-link" href="{{ site.baseurl }}/topics/">{% t navig.Topics %}</a></li>
			<li{% if page.menu_programs %} class="active"{% endif %}><a class="nav-link" href="{{ site.baseurl }}/programs/">{% t navig.Programs %}</a></li>
			<li{% if page.menu_blog %} class="active"{% endif %}><a class="nav-link" href="{{ site.baseurl }}/blog/">{% t navig.Blog %}</a></li>
			<li{% if page.menu_services %} class="active"{% endif %}><a class="nav-link" href="{{ site.baseurl }}/services/">{% t navig.Services %}</a></li>
			<li{% if page.menu_donate %} class="active"{% endif %}><a class="nav-link" href="{{ site.baseurl }}/donate/">{% t navig.Donate %}</a></li>
			<li>
				<div class="language-toggle">
				{% if site.lang == "hr" %}
				{% capture link1 %}{{ site.baseurl_root }}/en{{ page.url |replace_first:"index.html"}}{% endcapture %}
				<a href="{{ link1 }}" >EN</a><br/>HR
				{% else if site.lang == "en" %}
				{% capture link2 %}{{ site.baseurl_root }}{{ page.url |replace_first:"index.html" }}{% endcapture %}
				EN<br/><a href="{{ link2 }}">HR</a>
				{% endif %}
				</div>
			</li>
		</ul>
	</nav>
	<a id="sidebar-trigger" href="javascript:void(0)"><span class="cd-menu-text">{% t navig.Mehr %}</span><span class="cd-menu-icon"></span></a>
</header>
