{% if active_section.has_translation %}
{% if active_section.languages.size > 1 %}
	<div class="language-toggle pull-right">

		{% for language in site.languages %}
  		{% if active_section.languages contains language[0] %}
  		{% assign _url = page.url %}
  		{% assign old_lang_bit = page.lang | prepend: '/' | append: '/' %}
  		{% assign new_lang_bit = language[0] | prepend: '/' | append: '/' %}
  		<a {% if language[0] == page.lang %}class="active_language"{% endif %} href="{{ _url | replace: old_lang_bit, new_lang_bit }}" title="{{ language[1] }}">{{ language[0] }}</a><br/>
  		{% endif %}
  		{% endfor %}

  		<!-- 

  		TODO: add in CSS: active_language - DONE
  		TODO: add IFs when on home page

		-->

	</div>
{% endif %}
{% endif %}