{% assign main_menu = site.meta.top_menu %}
{% assign sub_menu = site.meta.bottom_menu %}

{% if page.lang == site.default_lang %}
{% assign lang_url = page.lang | append: '/' %}
{% else %}
{% assign lang_url = page.lang | append: '/' %}
{% endif %}

<nav id="sidebar">
	<div class="language-toggle pull-right">
		{% include languages.html %}
	</div>
	<ul class="cd-navigation">
		 <!-- start navigation for top menu -->
        {% for chapter in main_menu.toc.chapters %}
        {% assign chapter_url = site.baseurl | append: '/' |  append: lang_url | append: chapter.slug | append: '/' %}
        <li {% if page.url == chapter_url %}class="Selected"{% endif %}>
          <a href="{{ chapter_url }}">{{ chapter.title }}</a>
          {% if chapter.sections %}
          <span class="subsections"> <!-- not in use -->
            {% for section in chapter.sections %}
            <a href="#{{ section.slug }}">{{ section.title }}</a>
            {% endfor %}
          </span>
          {% endif %}
        </li>
        {% endfor %}
	</ul>
	<ul class="cd-navigation">
		<!-- start navigation for bottom menu -->
        {% for chapter in sub_menu.toc.chapters %}
        {% assign chapter_url = site.baseurl | append: '/' |  append: page.lang_url | append: chapter.slug | append: '/' %}
        <li {% if page.url == chapter_url %}class="Selected"{% endif %}>
          <a href="{{ chapter_url }}">{{ chapter.title }}</a>
          {% if chapter.sections %}
          <span class="subsections"> <!-- not in use -->
            {% for section in chapter.sections %}
            <a href="#{{ section.slug }}">{{ section.title }}</a>
            {% endfor %}
          </span>
          {% endif %}
        </li>
        {% endfor %}
	</ul>
</nav>
