<aside class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>DORS/CLUC</h3>
        <p>HrOpen je organizator vodeće i najstarije manifestacije iz područja otvorenih sustava, otvorenog koda, međunarodnih informatičkih normi i otvorenih sadržaja Dani otvorenih računarskih sustava - DORS, koja se od 1999. održava zajedno s Hrvatskom konvencijom kornisnika Linuxa – CLUC, u partnerstvu s Hrvatskom udrugom Linux korisnika – HULK.</p>
        <a href="#" class="btn btn-lg btn-light">Više</a>
        <a href="#" class="btn btn-lg btn-dark">Prijava</a>
      </div>
    </div>
  </div>
</aside>
