<aside class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Postani član HrOpena</h3>
        <p>Članovi podržavaju rad HrOpena te pomažu svojim znanjem, vještinama i sudjelovanjem na projektima s ciljem ispunjavanja zadaća Udruge. Učlani se putem linkova:</p>
        <a href="#" class="btn btn-lg btn-light">Podržavajući član</a>
        <a href="#" class="btn btn-lg btn-dark">Redovni član</a>
      </div>
    </div>
  </div>
</aside>
