<aside class="callout">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Otvoreni za partnerstvo</h1>
        <p>U partnerstvu s nama otvorite se novim, inovativnim poslovnim modelima temeljenim na otvorenom kodu. Njihovom primjenom možete postati konkurentniji na tržištu, ubrzati procese razvoja i implementacije, proširiti svoju ponudu programskih proizvoda i njihove prilagodbe na zahtjev naručitelja, ponuditi uslugu održavanja te doprijeti do posve novih tržišnih segmenata.</p>
      </div>
    </div>
  </div>
</aside>
